body {
  margin: 0;

  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $primary-font-family;
  letter-spacing: 0.03em;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.title {
  margin-top: 0;
  font-weight: 700;
  text-align: center;
  color: $title-text-color;

  @include lg-max {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17857;
  }
}
