/*        Footer         */

.footer {
  display: block;
  background-color: $secondary-background-color;

  @include lg-max {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__container {
    @include lg-max {
      text-align: center;
    }
  }
}

/*     Footer Contact Address     */

.contact {
  @include paddingTopBot(60px, 60px);
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $primary-white-color;

  @include lg-max {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    padding-bottom: 60px;
    align-items: center;
  }

  &__item {
    margin: 0;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    @extend %link;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
}

/*          Footer Form Subscribe         */

.footer-subs {

  &__title {
    margin: 0;
    margin-bottom: 20px;

    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}

.form-subs {
  @include lg-max {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    @include widtHeight(100%, 50px);
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $secondary-background-color;

    @include lg-max {
      margin-bottom: 20px;
    }
  }
}
