/*      Logo      */

.logo {
  font-family: $secondary-font-family;
  font-weight: 700;
  text-align: center;

  @include lg-max {
    @include paddingTopBot(16px, 16px);
    font-size: 24px;
    line-height: 1.16667;
  }

  @include lg {
    display: inline-flex;
    @include paddingTopBot(25px, 25px);
    font-size: 26px;
    line-height: 1.1923;
  }

  &__accent {
    color: $accent-color;
  }

  /*    Logo Header    */

  &__black {
    color: $title-text-color;
    @extend %link;
  }

  /*    Logo Footer    */

  &__white {
    color: $primary-white-color;
    @extend %link;
  }
}
