/*      Logo      */

.logo {
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 700;
  text-align: center;

  @include lg-max {
    @include paddingTopBot(16px, 16px);
  }

  @include lg {
    display: inline-flex;
    @include paddingTopBot(26px, 26px);
  }

  @include xl {
    @include paddingTopBot(24px, 25px);
    font-size: 26px;
    line-height: 1.1923;
  }

  &__accent {
    color: $accent-color;
  }

  /*    Logo Header    */

  &__black {
    color: $title-text-color;
    @extend %link;
  }

  /*    Logo Footer    */

  &__white {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    color: $primary-white-color;
    @extend %link;

    @include xl {
      text-align: left;
    }
  }
}
