.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;

  @include lg {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: $primary-white-color;

  @include lg-max {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding-top: 40px;
    padding-bottom: 52px;
    width: 100%;
    height: 393px;
    border-top: 1px solid $primary-border-color;

    &.is-open {
      display: block;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    }
  }

  @include lg {
    @include centeredFlex(flex, center, space-between);
    padding-left: 88px;
    flex-grow: 1;
  }

  @include xl {
    padding-left: 93px;
  }
}

.icon-cross,
.icon-menu {
  fill: $title-text-color;
  transition: fill 250ms $cubic;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: $accent-color;
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  fill: $accent-color;
}
