.clients {
  @extend %list;

  @include sm-lg-max {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__link {
    @extend %link;
    color: $icon-color;
    border: 1px solid $icon-color;
    border-radius: 4px;

    transition: color 250ms $cubic;

    @include sm-lg-max {
      @include centeredFlex();
      height: 92px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 4px;
  }

  &__item {
    margin: 15px;

    @include sm-lg-max {
      width: calc((100% - 60px) / 2);
    }
  }
}
