/*       Hero      */

.hero {
  @include paddingTopBot(118px, 118px);

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/background-img.sq.jpeg');
  background-position: center;
  text-align: center;
  background-color: $secondary-background-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    font-size: 26px;
    line-height: 1.6153;
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}
