/*     Site Nav Header      */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #fff;

  & &__nav {
    @include centeredFlex($justify: space-between);
  }
}

.underline {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;

    @include lg-max {
      margin-top: 8px;
    }
  }

  @include lg-max {
    padding-bottom: 12px;
  }
}

.site-nav {
  @extend %list;

  @include lg-max {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include lg {
    display: inline-flex;
  }

  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $title-text-color;
    @extend %link;

    transition: color 250ms $cubic;

    &.current {
      color: $accent-color;
      @include lg-max {
        padding-bottom: 0;
      }
    }

    @include lg-max {
      display: inline-block;
      @include paddingTopBot(20px, 20px);
      font-size: 18px;
      line-height: 1.16667;
    }

    @include lg {
      @include paddingTopBot(32px, 32px);
      font-size: 14px;
      line-height: 1.1428;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}

.line-border {
  border-bottom: 1px solid $primary-border-color;
}