
/*    Small Mobile   */
$screen-sm-min: 320px;

/*    Small Tablet   */
$screen-md-min: 480px;

/*      Tablet      */
$screen-lg-min: 768px;
$screen-lg-max: 767px;

/*      Desktop      */
$screen-xl-min: 1200px;
$screen-xl-max: 1199px;