$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #ffffff;
$secondary-white-color: #f5f4fa;
$secondary-background-color: #2f303a;
$accent-color: #2196f3;
$primary-border-color: #ececec;
$icon-color: #afb1b8;

$primary-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

$iconBtnMenu: "cross", "menu";
$iconContacts: "envelope", "mobile";
$iconSkills: "antena", "clock", "laptop", "astronaut";
